:host {
  display: block;
}

.ui-home {
  background: var(--ui-custom-home-color, var(--ui-home-color, var(--ui-home-color)));
  padding: 10px;

  &__header {
    color: white;
  }

  &__content {
    padding: 10px;
  }
}
